<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">How did I get to the world of Data?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004-2008</h4>
                                    <h4 class="subheading">Thinking Big</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Excited about IT since I was young, I first went to university at <a href="http://www.rit.edu" target="_blank">RIT</a> for software development. After one year, I realized that as my English professor wrote <i>"Bryan wants to engage with bigger questions"</i>. I decided that programming lacked this big level engagement and ultimately transferred to <a href="http://www.elon.edu" target="_blank">Elon University</a> where I double majored in Philosophy and Political Science.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2013</h4>
                                    <h4 class="subheading">Traveler, ESL Teacher</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Upon finishing my degrees I wanted to travel and see the world. I worked primarily as an English as a Second Language Teacher; where I spent time living in Morocco, South Korea, the Czech Republic, France, and finally landing in Reunion Island where I live to this day.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2022</h4>
                                    <h4 class="subheading">Freelancer, Entrepreneur, Developper</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Having permanently moved to Reunion Island in 2013, I worked for 5 years as a Freelance English Teacher before opening my own language school in 2018. American Way Formation grew from a part time side-gig to a team of 6 teachers and more than 100 individual students, a success story built largely on the back of a self-developed ERP and automatization solutions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021-????</h4>
                                    <h4 class="subheading">Curiousity & Data, the perfect marriage</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A chance opportunity in mid 2021 introduced me to the world of Data by working as a freelance Data Analyst for a new consulting firm. I quickly realized that Data Analysis represented the perfect blend of my skills and passions. A curiousity to ask why, find and demand evidence, and a passion for new and evolving technology. Looking for new challenges and shift away from Teaching, I'm confident that I've found a new home in the world of Data</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>I want
                                    <br>to join
                                    <br>your team!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>