<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Data Skills</h2>
                    <h3 class="section-subheading text-muted">Let me help your company put its cheapest and most powerful employee to work, your data.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-signal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Visualization</h4>
                    <p class="text-muted">Microsoft Power BI Data Analyst (PL-300) Certified, I Specialize in data cleaning (ELT), modeling, and visualization using tools such as Tableau, Power BI, and Qlksense.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Human, Domain Specialist</h4>
                    <p class="text-muted">I have been working directly with CEOs and top level Managers every day for the last 10 years discussing business, corporate culture, and much more across all sorts of business sectors. I bring a unique, balanced, and human vision to my Data Analysis. A perspective which allows me to help companies make <i>insightful and impactful business decisions</i> that go beyond just numbers.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Python Coder</h4>
                    <p class="text-muted">I'm always looking to keep learning and go beyond visualisation tools by doing analysis, cleaning, web-scraping, and making machine learning models in python using popular libraries such as Pandas, SK-Learn, Selenium, and many more.</p>
                </div>
            </div>
        </div>
    </section>